@{
    ViewBag.Title = "Reporte";
    var reportUnitario = ViewBag.ReportUnitario as List<Lester.Models.Embarques>;

    /// Paginacion
    var totalPiezas = ViewBag.TotalPiezas as IEnumerable<dynamic>;
    int currentPage = ViewBag.CurrentPage;
    int pageSize = ViewBag.PageSize;
    int totalRecords = ViewBag.TotalRecords;
    int totalPages = ViewBag.TotalPages;

}

<h2>Reporte</h2>

<!-- Reporte a nivel unitario -->
<h3>A nivel unitario</h3>
<table class="table table-striped">
    <tr>
        <th scope="col">Codebar</th>
        <th scope="col">Acrónimo</th>
        <th scope="col">Hora de Lectura</th>
        <th scope="col">Viaje</th>
    </tr>
    @foreach (var item in reportUnitario)
    {
        <tr>
            <td>@item.codebar</td>
            <td>@item.acronimo</td>
            <td>@item.fechaLectura.TimeOfDay</td>
            <td>@item.Viaje</td>
        </tr>
    }
</table>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item @(currentPage == 1 ? "disabled" : "")">
            <a class="page-link" href="javascript:void(0);" onclick="submitForm(@(currentPage - 1))">Previous</a>
        </li>
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(currentPage == i ? "active" : "")">
                <a class="page-link" href="javascript:void(0);" onclick="submitForm(@i)">@i</a>
            </li>
        }
        <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
            <a class="page-link" href="javascript:void(0);" onclick="submitForm(@(currentPage + 1))">Next</a>
        </li>
    </ul>
</nav>

<script type="text/javascript">function submitForm(page) {
            var form = document.forms[0];
            var input = document.createElement('input');
            input.type = 'hidden';
            input.name = 'page';
            input.value = page;
            form.appendChild(input);
            form.submit();
    }
  </script>





<!-- Botón para exportar a Excel -->
@using (Html.BeginForm("ExportToExcel", "Report", FormMethod.Post))
{
    <input type="submit" class="btn-dark" value="Exportar a Excel" />
}
